a {
    color: inherit;
}

mat-expansion-panel {
    margin-top: 2%;
}

mat-form-field {
    width: 80%;
}

mat-card {
    width: 100%;
}

.order {
    margin-top: 2%;
}

.approve {
    margin-left: 50%;
}

.no {
    margin-left: 2%;
}

