.row {
    /* margin-left: 30%; */
    /* margin-right: 30%; */
    /* margin-top: 20%; */
    text-align: center;
}

.title {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin-bottom: 5%;
    margin-top: 5%;
}

.mat-form-field {
    margin-top: 2%;
    width: 400px;
}

.main-btn {
    margin-left: -5%;
}

.sign-up {
    margin-top: 10px;
}